html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #dbeafe, #f0f9ff);
}

h1{
    font-size: 45px;
    color: darkblue;
}

p{
    font-size: 18px;
}

/* BOUTON GITHUB */
.github{
    display: inline-block;
    margin: 15px 0;
    padding: 12px 20px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

/* NAVBAR */
nav{
    margin-top: 25px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* LIENS */
nav a{
    display: inline-block;
    margin: 10px;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    background-color: #2563eb;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

/* HOVER */
nav a:hover{
    background-color: #1e40af;
    transform: scale(1.08);
}

/* SECTIONS */
section,
footer{
    margin-top: 30px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h2{
    color: #2563eb;
    font-size: 30px;
}
@media (max-width: 768px) {
    nav {
        display: fkex;
        flex-direction: column;
    }
}
section {
    padding: 20px;
}